<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verify OTP</title>
</head>
<body>
<section>
    <div id="forgot-pass">
        <div class="container">
            <div id="forgot-row" class="row justify-content-center align-items-center">
                <div id="forgot-column" class="col-md-6">
                    <div id="forgot-box" class="col-md-12">

                        <!--Email form-->
                        <h3 class="text-center m-3">Reset Your Password</h3>

                        <div th:if="${session.wrong}" class="alert alert-danger text-center">
                            <span th:text="${session.wrong.content}"></span>
                            <th:block th:text="${#session.removeAttribute('wrong')}"></th:block>
                        </div>

                        <form th:action="@{/change-password}" method="post">

                            <div class="form-group">
                                <input name="email" type="text" th:value="${email}"
                                       class="form-control" readonly>
                            </div>

                            <div class="form-group">
                                <input name="password" type="password" placeholder="Enter Your new Password"
                                       class="form-control" required>
                            </div>

                            <div class="container text-center mt-4">
                                <button class="btn btn-success">Change Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>